*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	height: 100vh;
	color: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4eadd2;
}
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background: linear-gradient(0deg, rgb(135, 206, 235) 25%, rgba(0, 191, 255, 1) 75%);
	width: 100%;
	height: 100%;
	max-width: 768px;
	max-height: 576px;
	z-index: 0;
	box-shadow: 0 0 1rem rgb(1, 136, 181);
	overflow: hidden;
}
.shadow {
	z-index: -10;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.1);
	/* ten bgc w jsie do zmiany ciemnosci w zaleznosci do pory dnia */
}
.error {
	color: rgb(222, 0, 0);
	font-size: 0.6em;
	visibility: visible;
}
.search-engine {
	width: 80%;
	max-width: 768px;
	text-align: center;
	font-size: 1.5rem;
}
.search-field {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: none;
	border-radius: 12px;
}
.search-input {
	width: 100%;
	background: none;
	padding: 0.5em;
	margin-right: 0.5em;
	border: none;
	color: #ddd;
	border-radius: 12px;
	font-size: 1em;
}
.search-input::placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.search-input:focus {
	outline: 1px solid #ffffff80;
}
.search-btn {
	background: none;
	border: none;
	cursor: pointer;
	padding: 1.5em;
	border-radius: 12px;
	font-size: 1em;
}
.search-icon {
	transition: transform 0.3s;
	font-size: 1em;
	color: #ddd;
}
.search-btn:hover .search-icon {
	transform: scale(1.4);
}
.search-btn:focus {
	outline: 1px solid #ffffff80;
}
.weather {
	font-size: 1rem;
	width: 100%;
	max-width: 768px;
	padding: 0.2em 2em;
	margin-bottom: 1em;
	margin: 0 auto;
}
.weather-infos {
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
}
.weather .local-title {
	font-size: 1.5em;
	margin-bottom: 0.3em;
	text-align: center;
}
.weather p {
	margin: 0 0.5em;
	font-size: 1em;
}
.times {
	font-family: 'Stick No Bills', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.city-name {
	text-transform: uppercase;
}
.temperature {
	font-family: 'Stick No Bills', sans-serif;
	letter-spacing: 2px;
}
.description {
	text-transform: capitalize;
}
.hourly-forecast {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 2rem;
	padding: 0.5em;
	width: 100%;
	max-width: 768px;
	font-size: 1.4rem;
}
.title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.day-btn {
	padding: 0.5em;
	margin: 0 0.8em;
	background: none;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.day-btn:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
.day-btn:focus {
	outline: 1px solid #ffffff80;
}
.arrow {
	font-size: 1em;
	color: #fff;
	transition: color 0.3s;
}
.day-btn:hover .arrow {
	color: #fff;
}

.hourly-infos {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.weather-bar {
	font-family: 'Stick No Bills', sans-serif;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.hour {
	margin: 0.5em 0;
}
.status {
	max-width: 100%;
}
.temp {
	margin-bottom: 0.2em;
}
.active {
	display: flex;
}
.move-left {
	animation-name: move-left;
	animation-duration: 1s;
}
.move-right {
	animation-name: move-right;
	animation-duration: 1s;
}
@keyframes move-left {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}
@keyframes move-right {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}
@media (min-width: 375px) {
	.search-engine {
		font-size: 1.8rem;
	}
	.weather {
		font-size: 1.2rem;
	}
	.arrow{
		font-size: 1.5em;
	}
}
@media (min-width: 576px) {
	.search-engine{
		font-size: 2rem;
	}
	.weather {
		font-size: 2rem;
	}
	.hourly-forecast{
		font-size: 2rem;
	}
	.arrow{
		font-size: 2em;
	}
}
@media (min-width: 768px) {
	.wrapper{
		border-radius: 2rem;
	}
}
@media (min-width: 768px) and (min-height:600px) {
	.weather-infos{
		flex-direction: column;
	}
	p.weather-station{
		margin-bottom: 1em;
	}
}

