*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	height: 100vh;
	color: #ddd;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 1em;
	background: linear-gradient(0deg, rgba(135, 206, 235, 1) 25%, rgba(0, 191, 255, 1) 75%);
	width: 100%;
	height: 100%;
	max-width: 1440px;
	z-index: 0;
}
.shadow {
	z-index: -10;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	/* ten bgc w jsie do zmiany ciemnosci w zaleznosci do pory dnia */
}
.error {
	color: rgb(222, 0, 0);
	font-size: 1.3rem;
	visibility: hidden;
}
.search-engine {
	padding: 1.8em;
	text-align: center;
}
.search-field {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: none;
	border-radius: 12px;
}
.search-input {
	width: 100%;
	font-size: 2rem;
	background: none;
	padding: 0.3em;
	margin-right: 0.5em;
	border: none;
	color: #ddd;
	border-radius: 12px;
}
.search-input::placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.search-input:focus {
	outline: 1px solid #ffffff80;
}
.search-btn {
	/* width: 45px; */
	/* height: 100%; */
	background: none;
	border: none;
	cursor: pointer;
	padding: 1.5em;
	border-radius: 12px;
}
.search-btn i {
	transition: transform 0.3s;
	color: #ddd;
	font-size: 1.5rem;
}
.search-btn:hover i {
	transform: scale(1.2);
}
.search-btn:focus {
	outline: 1px solid #ffffff80;
}
.weather-infos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.weather-infos p {
	margin-bottom: 0.5rem;
}
.times {
	font-family: 'Stick No Bills', sans-serif;
	font-size: 4rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}
p.local-time {
	margin-bottom: 1em;
}
.local-title {
	font-size: 3rem;
}
.region {
	font-size: 1.5rem;
}
.city-name {
	text-transform: uppercase;
}
.temperature {
	font-family: 'Stick No Bills', sans-serif;
	font-size: 4rem;
	margin-top: 1em;
}
.description {
	text-transform: capitalize;
}
.hourly-forecast {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 48px;
	padding: 0.5em;
	width: 100%;
	max-width: 772px;
}

.title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.6rem;
}

.day-btn {
	margin: 0.5em;
	padding: 1em;
	background: none;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.day-btn:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
.day-btn:focus {
	outline: 1px solid #ffffff80;
}
.arrow {
	font-size: 2rem;
	color: #fff;
	transition: color 0.3s;
}
.day-btn:hover .arrow {
	color: #fff;
}

.hourly-infos {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.weather-bar {
	font-family: 'Stick No Bills', sans-serif;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 1.5rem;
	margin-bottom: 1em;
}
.hour {
	font-size: 1.8rem;
	margin: 1em 0;
}
.status {
	max-width: 100%;
}
.temp {
	margin-bottom: 1em;
}
.active {
	display: flex;
}
.move-left {
	animation-name: move-left;
	animation-duration: 1s;
}
.move-right {
	animation-name: move-right;
	animation-duration: 1s;
}

@keyframes move-left {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}
@keyframes move-right {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
